export(datePart)
export(getFeature)
export(getFrescaloData)
export(getOccurrences)
export(getSDMdata)
export(getTaxon)
export(gridCoords)
export(gridRef)
export(makenbnurl)
export(runnbnurl)
import(doParallel)
import(foreach)
import(RCurl)
import(RJSONIO)
